<% if current_user %>
  will redirect to another page
<% else %>
  <div class="jumbotron jumbotron-bg text-white">
    <h1 class="display-4">Welcome to photo managment app</h1>
    <p class="lead">You'll love managing your Photos with out application</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
    </p>
  </div>
<% end %>
