<% if current_user %>
  will redirect to another page
<% else %>
  <div class="jumbotron jumbotron-bg text-white">
    <h1>Welcome to photo managment app</h1>
    <p>You'll love managing your Photos with out application</p>
    <hr class="my-4">
    <p>
      <%= link_to "Sign up", new_user_registration_path,  class: "btn btn-primary btn-lg" %>
    </p>
  </div>
<% end %>
