<%= link_to images_path, class: 'btn btn-link justify-left back-btn' do %>
  <span class="glyphicon glyphicon-chevron-left"></span>
  <span>Back</span>
<% end %>
<h1>Editing Image</h1>
<%= render 'form' %>
<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>