<%= link_to images_path, class: 'btn btn-link justify-left back-btn' do %>
  <span class="glyphicon glyphicon-chevron-left"></span>
  <span>Back</span>
<% end %>
<h1>Upload an Image</h1>
<%= render 'form' %>